.container {
  background-color: #eae2b7;
  padding: 5rem 0 5rem 0;
}

.products {
  width: 80vw;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template:
    "p1 p2 p3 p3" 250px
    "p4 p4 p3 p3" 200px
    "p4 p4 p3 p3"
    "p5 p5 p6 p6" 200px
    "p5 p5 p6 p6"
    /1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.products__p1 {
  grid-area: p1;
}

.products__image {
  transition: all 700ms;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__image:hover {
  transform: scale(1.1);
}

.products__p2 {
  grid-area: p2;
}

.products__p3 {
  grid-area: p3;
}

.products__p4 {
  grid-area: p4;
}

.products__p5 {
  grid-area: p5;
}

.products__p6 {
  background-color: forestgreen;
  grid-area: p6;
}
