.container {
  background-color: var(--primary-color-light);
  height: auto;
}

.about__icon {
  position: absolute;
  opacity: 0.2;
  left: -10px;
}

.about {
  height: auto;
  color: #fff;
  overflow-x: hidden;
  padding: 3rem 0 3rem 0;
  width: 80vw;
  margin: 0 auto 0 auto;
  column-gap: 10rem;
  display: grid;
  grid-template:
    "text image" 200px
    ". image" 200px
    /1fr 1fr;
}

.about__text {
  grid-area: text;
}

.about__text h1 {
  margin-bottom: 3rem;
}
/* 
.about__text span {
} */

.about__image {
  grid-area: image;
}

.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
