.container {
  background-color: var(--accent);
}

.about {
  width: 80vw;
  margin: 0 auto;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.about__text {
  width: 60%;
  height: 90%;
}

.about__text h1 {
  font-weight: 400;
  margin-bottom: 3rem;
}

.about__text span {
  font-weight: 300;
}

.about__icon {
  opacity: 0.1;
}
