.menu {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 80%;
  display: grid;
  align-items: center;
  grid-template:
    "item1 item2 item3"
    /1fr 1fr 1fr;
  column-gap: 2rem;
  border-radius: 0.4rem;
  background-color: var(--primary-color);
  padding: 1rem;
}

.menu__icon {
  justify-self: center;
}

.menu__title {
  margin-bottom: 1rem;
}

.menu__item1 {
  border-right: 1px solid #fff;
  grid-area: item1;
}

.menu__item2 {
  border-right: 1px solid #fff;
  grid-area: item2;
}

.menu__item3 {
  grid-area: item3;
}

.menu__description {
  opacity: 0.9;
}
